<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Table</title>
</head>
<main>
<body>
  <h2 class="table-heading-padding">League Table</h2>
  <div class=table-padding>
  <table class="league-table-padding">
    <tr>
      <th>Position</th>
      <th>Club</th>
      <th>Matches Played</th>
      <th>Win</th>
      <th>Draw</th>
      <th>Loss</th>
      <th>Points</th>
    </tr>
  <% for team in @teams %>
    <tr>
      <td><%= @teams.index(team) + 1 %></td>
      <td><%= team.name %></td>
      <td><%= team.games_played %></td>
      <td><%= team.win %></td>
      <td><%= team.draw %></td>
      <td><%= team.loss %></td>

      <td><%= team.points %></td>
    </tr>
  <% end %>
  </table>
  </div>

</body>
</main>
</html>
